*, 
*::before, 
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}
img, 
picture, 
video, 
canvas, 
svg {
  display: block;
  max-width: 100%;
}

input, 
button, 
textarea, 
select {
  font: inherit;
}

p, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

body {
    background: rgb(103,121,204);
    font-size: 1.8rem;
  }

  .calculator {
    background-color:#D8D9DB;
    padding: .7rem;
    width: 350px;
    margin: 70px auto;
    border-radius: 10px;
  }

  #result {
    height: 80px;
    width:100%;;
    background-color: black;
    color: white;
    padding: 20px;
    margin-bottom: .5rem;
    text-align: right;
    border-radius: 10px;
  }

  table {
    width: 100%;
    text-align: center;
  }

  th,td,tr {
    border: 2px solid black;
    border-radius: 10px;
  }

  th {
    background-color: #df984c ;
  }

  tr {
   height: 75px;
  }
  
  th:hover {
    cursor: pointer;
    background-color: hsla(31, 70%, 59%, 0.733) ;
  }

  td:hover {
    cursor: pointer;
    background-color:#ececec;
  }

  i {
    transform: scale(.9);
  }

  th:active {
    opacity: 90%;
  }

  td:active {
    opacity: 90%;
  }

 

  